<!DOCTYPE html>
<html>
<head>
    <title>Log Viewer</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
</head>
<body>
    <h1>Real-time Logs</h1>
    <div id="log1" style="height:300px;width:300px;overflow:scroll;border:1px solid black;"></div>
    <div id="log2" style="height:300px;width:300px;overflow:scroll;border:1px solid black;"></div>

    <script type="text/javascript">
        var socket = io.connect('https://' + document.domain + ':' + location.port);

        socket.on('new_log_line', function(data) {
            document.getElementById("log1").innerHTML += data.log_line + '<br>';
            // 또는 "log2" div에 추가하려면 document.getElementById("log2").innerHTML += data.log_line + '<br>';
        });
    </script>
</body>
</html>
